<div class="card h-100 p-2">
    <img [src]="productCard.image" height="300px" class="card-img-top" [alt]="productCard.title">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-truncate">{{productCard.title}}</h5>
      <p class="card-text badge bg-success-subtle text-black text-opacity-50">{{productCard.category}}</p>
      <p class="card-text fw-bold">   {{productCard.price | currency}}</p>


      <div class="rating mb-2">
        <span class="text-warning">{{productCard.rating.rate.toString() | rate }}</span><small>({{productCard.rating.rate}})</small>
      </div>

      <a [routerLink]="['/productDetails' , productCard.id]" class="btn btn-primary mt-auto">View Details</a>
    </div>