.logo {
    height: 90px; /* Adjust based on your logo size */
  }
  
  .navbar {
    padding: 0 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    }
  
  .btn {
    font-weight: 600;
  }
  .navbar-brand {
  padding: 0 !important;
  }
  .active{
    color: rgb(37, 111, 113) !important;
  }