<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
    <h4 class="text-center mb-3">Reset Your Password</h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="oobCode">
        <div class="mb-3">
        <input formControlName="password" type="password" class="form-control" placeholder="New password">
        </div>
        <div class="mb-3">
        <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
        Reset Password
        </button>
        <p *ngIf="error" class="text-danger text-center mt-2">{{ error }}</p>
        <p *ngIf="success" class="text-success text-center mt-3">Password updated successfully!</p>
    </form>

    <p *ngIf="!oobCode" class="text-danger text-center">Invalid password reset link</p>
    </div>
</div>
