<nav class="navbar navbar-expand-lgy bg-body-tertiary mb-2">
    <div class="container">
      <!-- Left Side (Logo) -->
      <a class="navbar-brand" routerLink="home">
        <img src="assets/imgs/logo.png" alt="Logo" class="img-fluid logo">
      </a>
      <!-- Right Side (Login & Signup) -->
      <div class="d-flex">
        <a class="btn btn-outline-primary me-2" routerLinkActive="active-nav-link" routerLink="login">Login</a>
        <a class="btn btn-outline-primary" routerLinkActive="active-nav-link" routerLink="signup">Signup</a>
      </div>
    </div>
</nav>